
.Message {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Message_block {
    background: #003e00;
    padding: 0.7vw 1.5vw;
    border-radius: 1vw 1vw 1vw 0;
    position: relative;
    /*line-height: 1.6em;*/
    width: 30vw;
}

.Message_block::after {
    content: '';
    position: absolute;
    left: -4vw;
    bottom: 0;
    border: 5vw solid transparent;
    border-bottom: 3vw solid #003e00;
    z-index: 0;
}

.Message_avatar {
    border: 1.3vw solid greenyellow;
    background-color: greenyellow;
    /*padding-top: 50px;*/
    /*margin-right: -1px;*/
    border-radius: 0 0 2.5vw 0;
    z-index: 1;
    position: relative;
    bottom: -0.2vw
}

.Message img {
    position: relative;
    bottom: -1.5vw;
    width: 7vw;
    height: 7vw;
    border-radius: 100%;


}

.Message_name {
    color: #9492BE;
    font-weight: 800;
    font-size: 2vw;
}

.Message_text {
    color: snow;
    word-wrap: break-word;
    font-size: 2vw;

}

.Message_time {
    color: #02a67c;
    text-align: right;
    font-size: 2vw;
}

